body{
  background-image: url("http://static1.squarespace.com/static/553fdbaee4b0d82b91dbde7d/t/5a8ef1a0c8302592a2b3a6de/1519317453609/?format=1500w");
  background-repeat: no-repeat;
  background-size: 1550px 700px;
}

form{
  border: 2px solid black;
  

}
div.gallery {
  margin: 35px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  border-style: solid;
  border-color: black;  
 background: rosybrown;
      
  
}

div.gallery:hover {
  border: 1px solid red;
}

div.gallery img {
  width: 100%;
  height: auto;
  
}

div.desc {
  padding: 15px;
  text-align: center;
  
}
.buttonHolder{ text-align: center; }

